@import './social-links';

header {
    padding: 20px 30px;
    background-color: $primaryBackground;

    .media-big-screens {
        flex-direction: row;
        justify-content: space-between;

        @extend .social-links;
    }
}