.social-links {
    ul {
        display: flex;
        flex-direction: row;
        margin: 10px 0;

        a {
            padding: 0 10px;

            .linkedin-icon {
                padding: 10px;
            }

            li {
                background-color: #fff;
                border-radius: 100%;
                display: flex;
                transition: background-color 0.5s;

                &:hover {
                    background-color: #ffaf29;
                }
            }
        }
    }
}