
@mixin backgroundPosition($img) {
    animation-name: appear;
    animation-duration: 0.5s;
    background-image: url($img);
    background-size: cover;
    background-position: center;
}

@mixin hoverBackground($img) {
    animation-name: hoverBackground;
    animation-duration: 0.5s;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url($img);
    background-size: cover;
    background-position: center;
}

/* Hover projects */
@keyframes hoverBackground {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 0.7;
    }

    100% {
        opacity: 1;
    }
}

/* Leaving hover */
@keyframes appear {
    from {
        opacity: 0.5;
    }
    
    to {
        opacity: 1;
    }
}

.third-section {
    @include containerPadding;
    
    background-color: $primaryBackground;
    color: #fff;
    padding: 40px 20px 20px;

    h1 {
        text-align: center;
    }

    .projects {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .project-link {
            width: 300px;
            margin: 20px auto;
            height: 250px;
            display: flex;
            align-items: center;
            padding: 10px;

            .project-text {
                display: none;

                h3, p {
                    text-align: center;
                }
            }

            &:hover {
                .project-text {
                    display: block;
                }
            }
        }

        .qutine {
            @include backgroundPosition('./images/qutine.png');
            
            &:hover {
                @include hoverBackground('./images/qutine.png');
            }
        }

        .popcorn {
            @include backgroundPosition('./images/popcorn.png');

            &:hover {
                @include hoverBackground('./images/popcorn.png');
            }
        }

        .pokedex {
            @include backgroundPosition('./images/pokedex.png');

            &:hover {
                @include hoverBackground('./images/pokedex.png');
            }
        }

        .nice-2-meetya {
            @include backgroundPosition('./images/nice-2-meetya.png');

            &:hover {
                @include hoverBackground('./images/nice-2-meetya.png');
            }
        }

        .gallery {
            @include backgroundPosition('./images/gallery.png');

            &:hover {
                @include hoverBackground('./images/gallery.png');
            }
        }

        .manycars {
            @include backgroundPosition('./images/2manycars.png');

            &:hover {
                @include hoverBackground('./images/2manycars.png');
            }
        }
    }
}