/* CSS Reset */

@font-face {
    font-family: Charlevoix;
    src: url(font/CharlevoixPro-Regular.3ff99081.otf);
}

body {
    margin: 0;
    font-family: Charlevoix;

    p {
        font-size: 1.2rem;
    }

    a {
        text-decoration: none;
        color: #fff;
    }

    ul {
        padding: 0;
        list-style: none;
    }

    .media-big-screens {
        display: flex;
        max-width: 1270px;
        margin: 0 auto;
    }
}


/* Backgroung Colours */
$primaryBackground: #333746; 

/* #242834 */ 
$darkerBackground: #2d3240;


/* Mixins */
@mixin containerPadding() {
    padding: 20px;
}

@mixin linksAnimation() {
    transition: background-color 0.2s;

    &:hover {
        background-color: #ffaf29;
    }
}

@import './header';
@import './first-section';
@import './second-section';
@import './third-section';
@import './footer';